<div class="page-header">
  <h1>To-Do List</h1>
</div>
<div *ngIf="tasks.length !== 0">
  Task Status
  <div *ngFor="let task of tasks, let i = index;">
      <ul [ngClass]="task.isCompleted ? 'completed' : 'incomplete'">
        <input type="checkbox" value="task.isCompleted" (change)="updateVal(i, $event.target.checked)">
        {{task.taskName}}
      </ul>
  </div>
</div>
<div class="row" [formGroup]="localGroup" class="panel-body col-12">
  <input type="text" class="bootstrap fullscreen" formControlName="taskName" required placeholder="Enter task here">
  <button type="submit" class="btn btn-primary" (click)="addTask()" [disabled]="!localGroup.valid" title="Please enter task to submit" > Add Task</button>
  <button type="submit" class="btn btn-primary" (click)="deleteLocalStorage()" > Clear Tasks List</button>
</div>